@model List<homework_56.Models.Task>
@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}
<h2>Tasks</h2>
<div class="table_section">
    @if (@Model.Count == 0)
    {
        <p>Tasks haven't been added yet</p>
    }
    else
    {
        <table style="width: 100%;">
            <tr>
                <th>Id</th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                        Task name
                    </a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.PrioritySort">
                    Priority
                    </a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.StatusSort">
                    Status
                    </a></th>
                <th><a asp-action="Index" asp-route-sortOrder="@ViewBag.CreationDateSort">
                    Date of creation
                    </a>
                </th>
                <th>Actions</th>
            </tr>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        @if (@item.Priority == "a")
                        {
                            <span style="color:red;">high</span>
                        }
                        else if (item.Priority == "b")
                        {
                            <span style="color:blue;">medium</span>
                        }
                        else
                        {
                            <span style="color:green;">low</span>
                        }
                    </td>
                    <td>@item.Status</td>
                    <td>@item.CreationDate</td>
                    <td>
                        <a class="btn btn-light" asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @if (item.Status == "new")
                        {
                            <a class="btn btn-light" asp-action="Delete" asp-controller="Tasks" asp-route-id="@item.Id">Delete</a>
                            <a class="btn btn-light" asp-action="Open" asp-controller="Tasks" asp-route-id="@item.Id">Open</a>
                        }
                        else if (item.Status == "opened")
                        {
                            <a class="btn btn-light" asp-action="Close" asp-controller="Tasks" asp-route-id="@item.Id">Close</a>
                        }
                        else
                        {
                            <a class="btn btn-light" asp-action="Delete" asp-controller="Tasks" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>