@model List<homework_56.Models.Task>
@{
    ViewBag.Title = "My tasks";
    Layout = "_Layout";
}
<h2>My tasks</h2>
@if (@Model.ToList().Count == 0)
{
    <p>You don't have any tasks</p>
}
else
{
    <table style="width: 100%;">
        <tr>
            <th>Id</th>
            <th>Task name</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Date of creation</th>
            <th>Actions</th>
        </tr>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    @if (@item.Priority == "a")
                    {
                        <span style="color:red;">high</span>
                    }
                    else if (item.Priority == "b")
                    {
                        <span style="color:blue;">medium</span>
                    }
                    else
                    {
                        <span style="color:green;">low</span>
                    }
                </td>
                <td>@item.Status</td>
                <td>@item.CreationDate</td>
                <td>
                    <a class="btn btn-light" asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (item.Status == "new")
                    {
                        <a class="btn btn-light" asp-action="Delete" asp-controller="Tasks" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-light" asp-action="Open" asp-controller="Tasks" asp-route-id="@item.Id">Open</a>
                    }
                    else if (item.Status == "opened")
                    {
                        <a class="btn btn-light" asp-action="Close" asp-controller="Tasks" asp-route-id="@item.Id">Close</a>
                    }
                    else
                    {
                        <a class="btn btn-light" asp-action="Delete" asp-controller="Tasks" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </table>
}